PORT=5001
MONGO_URI=mongodb+srv://umeshgayakwad100_db_user:0GNCDKkgSLO9Id5i@cluster0.iezyhiv.mongodb.net/steamify_db?retryWrites=true&w=majority&appName=Cluster0
STREAM_API_KEY=k4sdyaqj6sk5
STREAM_API_SECRET=8x5qt9rv42bkw2grwcvg7vwhyd7ns2hw66e5ed6t6wngc9g8xc2cdyn5pv5k5dqv
JWT_SECRET_KEY=your_jwt_secret
NODE_ENV=development
